@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .button {
        @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg 
        active:scale-95 active:bg-gray-100 transition duration-100 ease-out;
    }
}

/* remove animation when resizing */
.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

/* responsive nav bar */
#navBar {
    background: transparent;
    display: flex;
    font-family: 'Helvetica';
    z-index: 999;
    position: sticky;
    top: 0;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

#navBar span {
    font-weight: 700;
    font-size: 24px;
    margin: 10px;
    color: #000;
}
#items {
    text-align: right;
}
#items a {
    color: #000;
    font-size: 16px;
    text-decoration: none;
    margin: 15px;
    position: relative;
    opacity: 0.5;
}

#items a:hover {
    cursor: pointer;
    opacity: 1;
}

#items a::before {
    content: "";
    position: absolute; 
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: all .4s
}
#items a:hover::before {
    width: 100%;
}

#navToggle {
    display: none;
}


@media (max-width: 1000px) {
    #items {
        position: absolute;
        top: 60px;
        display: flex;
        flex-direction: column;
        background: #f5f5f5;
        left: 10%;
        width: 110%;
        height: 220px;
        transform: scaleY(0);
        transform-origin: top;
        transition: all .4s;
        text-align: left;
    }

    #items a::before {
        background: transparent;
    }

    #items.open {
        top: 60px;
        transform: scaleY(1);
    }

    #navToggle {
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        /* margin-left: 80px; */
    }
    #bar  {
        position: relative;
        width: 25px;
        height: 2px;
        border-radius: 1px;
        background-color: #777;
        transition: all .2s ease-in-out
    }

    #bar::before, #bar::after {
        content: "";
        position: absolute;
        height: 2px;
        background: #777;
        border-radius: 1px;
        transition: all .4s ease-in-out;
    }

    #bar::before {
        width: 25px;
        transform: translateY(-8px);
        right: 0;
    }

    #bar::after {
        width: 25px;
        transform: translateY(8px);
    }

    #navToggle.open #bar {
        /* transform: translate(-40px); */
        background: transparent;
    }
    #navToggle.open #bar::before {
        width: 25px;
        transform: rotate(45deg);
        /* transform: rotate(45deg) translate(26px, -26px); */
    }
    #navToggle.open #bar::after {
        transform: rotate(-45deg);
        /* transform: rotate(-45deg) translate(26px, 26px); */
    }

}


/* https://youtu.be/ctiDWDq7C8E */